{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/common_style.css' %}">

</head>
<body>


    <header class="top-navbar">
        <div class="navbar-logo">
            <h2 class="title">Admin</h2>
        </div>
        <nav class="navbar-links">
            <button class="button"><a href="{% url 'admin_add_card_type' %}" class="navbar-button">Add Card Type</a></button>
            <button class="button"><a href="{% url 'admin_add_commodity' %}" class="navbar-button">Add Product / Commadities</a></button>
            <button class="button"><a href="#" class="navbar-button">Griveance</a></button>
            <button class="button"><a href="#" class="navbar-button">Feedback</a></button>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
   


    
</body>
</html>