{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/common_style.css' %}">

</head>
<body>


    <header class="top-navbar">
        <div class="navbar-logo">
            <h2 class="title">TNPDS</h2>
        </div>
        <nav class="navbar-links">
            <button class="button"><a href="{% url 'consumer_login' %}" class="navbar-button">Consumer</a></button>
            <button class="button"><a href="{% url 'shop_worker_login' %}" class="navbar-button">Shop Worker</a></button>
            <button class="button"><a href="{% url 'officer_login' %}" class="navbar-button">Officer</a></button>
            <button class="button"><a href="{% url 'admin_login' %}" class="navbar-button">Admin</a></button>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
   


    
</body>
</html>